
<main>
  <style media="screen">
    p {
      margin-right:40px;
    }
  </style>

  <h1>About Me:</h1>

    <img src="images/Matt_headshot.jpg" alt="headshot_not_found" style="float:right;width:300px;height:400px;margin:15px;">
    <p> Hello there. </p>
    <p>
      My name is Matt Rosenfeld. I am a student at the University of Maryland, College Park, working towards a B.S. in electrical engineering and a minor in computer science. I am interested in a wide range of topics related to computer engineering and software development. I hope to continue learning about the enormous world of software development and engineering, having future experiences narrow down my interests into potential career paths.
    </p>
    <p>
      My other interests include music (I have a minor in saxophone performance from UMD) and biking (trail riding and light mountain biking). If you have questions about me, my work, or my other hobbies, my contact information can be found on the <a href="#contact">contact page.</a>
    </p>
</main>
