body {
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  font-family: Lucida Console;
  line-height: 1.5;
  margin: 30px;
  flex-grow: 1;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.text-content {
  max-width: 60vw;;
}